.app__menuitem {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.app__menuitem_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app_menuitem_sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__menuitem_name {
    flex: 1;
}

.app__menuitem_dash {
    width: 90px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__menuitem_price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}